.content{
    margin: 0px 350px;
    color:#516d8a;
}
.topnav{
    background-color:  #f5f7f9;
}
.content label{
    color:#516d8a;
}
.navmenu a{
 color:#516d8a;
}
 .designertext{
    margin: 40px;
}
.designer .imagesection{
    position:absolute;
    /* z-index: -1;    */
}
.designer{
    background-image: url("./image.png");
}
.button{
    background-color: #00bb9b;
    border-radius: 5px;
    border-color: blue;
    padding: 10px;
    /* z-index: 1; */
}
.responsive{
    color:#516d8a
}
.latestwork{
    background-color: #f5f7f9;
    color:#516d8a
}
.latestwork img{
    height: 300px;
    margin:auto;
}
.slider img{
    height:200px;
}
.footer{
    bottom: 0;
    background-color: #304152;
}
.footercontent{
    margin: 0px 350px;
}
.lowerfooter{
    height: 100px;
}
.lowfootercontent
{
    margin: 0px 350px;
    color:gray;
    
}
